h1{
    display: block;
    margin-top: 5px;
    color: crimson;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .btn
  {
      background-color: crimson;
      margin-top: 10px;
  }
  .btn-refresh{
      margin: auto;
      display: block;
  }